.pin {
    width: 20px;
    height: 20px;
    border-radius: 50% 50% 50% 0;
    background: #89849b;
    -webkit-animation-name: bounce;
    -moz-animation-name: bounce;
    -o-animation-name: bounce;
    -ms-animation-name: bounce;
    animation-name: bounce;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    -ms-animation-duration: 1s;
    animation-duration: 1s;
}

    .pin:after {
        content: '';
        width: 10px;
        height: 10px;
        margin: 6px 0 0 6px;
        background: #2f2f2f;
        position: absolute;
        border-radius: 50%;
    }


.marker {
    width: 14px;
    height: 14px;
    border-radius: 50% 50% 50% 0;
    background: #2F2F2F;
    transform: rotate(-45deg);
    animation-name: bounce;
    animation-fill-mode: both;
    animation-duration: 1s;
}


.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
